{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/qr_code_reader.css' %}">
    <title>Home</title>
</head>
<body>
    <h1 style="color: #4c95af">Home</h1>
    <nav>
        <ul>
            <li><a href="/maker/" target="_blank" class="button" style="color: #1a7059">QR Code Maker</a></li>
            <li><a href="/reader/" target="_blank" class="button" style="color: #76b9a5">QR Code Scanner</a></li>
            <li><a href="/attendance/" target="_blank" class="button" style="color: #1a7059">QR Code Scanner</a></li>

        </ul>
    </nav>
</body>
</html>